<div ng-controller="AppliancesController">
    <div class="panel panel-default">
        <div class="panel-heading">Appliances</div>
        <appliances-tab appliances="appliances" update-property="updateProperty"></appliances-tab>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">New Appliance</div>

        <div class="panel-body">
            <alert ng-repeat="alert in alerts"
                   type="{{alert.type}}" close="closeAlert($index)">
                {{alert.msg}}
            </alert>
            <form novalidate>
                <div class="form-group">
                    <label for="applianceName">Name</label>
                    <input id="applianceName" type="text" ng-model="appliance.name" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="applianceType">Type</label>
                    <select ng-init="appliance.type = appliance.type || applianceTypes[0]"
                            ng-options="type for type in applianceTypes" id="applianceType"
                            type="text" ng-model="appliance.type" class="form-control"></select>
                </div>
                <div class="form-group" ng-if="appliance.type == 'LIGHT'">
                    <label for="dimmable">Dimmable</label>
                    <input type="checkbox" id="dimmable" ng-model="appliance.dimmable">
                </div>
                <button class="btn btn-primary" ng-click="newAppliance()">Create Appliance</button>
            </form>
        </div>
        <div>
            <pre>{{appliance}}</pre>
        </div>
    </div>
</div>
