<table class="table">
    <tr>
        <th class="col-md-3">Appliance Id</th>
        <th class="col-md-1">Name</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-1">State</th>
        <th class="col-md-2">RoomId</th>
        <th class="col-md-1">Properties</th>
        <th class="col-md-3">Operations</th>
    </tr>
    <tr ng-repeat="appliance in appliances">
        <td>{{appliance.id}}</td>
        <td>{{appliance.name}}</td>
        <td>{{appliance.type}}</td>
        <td>{{appliance.state}}</td>
        <td><a href="#/rooms/{{appliance.roomId}}">{{appliance.roomId}}</a></td>
        <td>
            <ul class="list-group">
                <li ng-repeat="(property, value) in otherFieldsFrom(appliance)"
                    class="list-group-item">
                    {{ property }}: {{ value }}
                </li>
            </ul>
        </td>
        <td>
            <ul class="list-group">
                <li ng-repeat="operation in appliance.operations" class="list-group-item">
                    <div ng-if="operation.method=='PATCH'">

                        <div><strong>operation</strong>: update</div>
                        <div><strong>property</strong>: {{ operation.property }}</div>
                        <div><strong>description</strong>: {{ operation.description }}</div>

                        <div ng-if="operation.enumValues.length > 3">
                            <select ng-if="operation.propertyType=='ENUM'"
                                    ng-options="enumValue for enumValue in operation.enumValues"
                                    ng-model="operation.chosenValue">

                            </select>
                            <button class="btn btn-link">perform</button>
                        </div>

                        <div ng-if="operation.enumValues.length <= 3">
                            <button class="btn btn-default"
                                    ng-model="operation.chosenValue"
                                    ng-repeat="enumValue in operation.enumValues"
                                    btn-radio="enumValue"
                                    ng-click="setOperationValue(operation, enumValue); perform(operation)">
                                {{ enumValue }}
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </td>
    </tr>
</table>
