<table class="table">
    <tr>
        <th class="col-md-3">Appliance Id</th>
        <th class="col-md-1">Name</th>
        <th class="col-md-1">Type</th>
        <th class="col-md-1">State</th>
        <th class="col-md-2">RoomId</th>
        <th class="col-md-3">Properties</th>
    </tr>
    <tr ng-repeat="appliance in appliances">
        <td>{{appliance.id}}</td>
        <td>{{appliance.name}}</td>
        <td>{{appliance.type}}</td>
        <td>{{appliance.state}}</td>
        <td><a href="#/rooms/{{appliance.roomId}}">{{appliance.roomId}}</a></td>
        <td>
            <ul class="list-group">
                <li ng-repeat="(propertyName, property) in appliance.properties" class="list-group-item">
                    <applianceproperty appliance-url="appliance.self" property="property"
                                       property-name="propertyName" update-property="updateProperty">

                    </applianceproperty>
                </li>
            </ul>
        </td>
    </tr>
</table>
